/* *****************************
 * var
 * *****************************/
:root {
    --header-height: 80px;
    --padding: 20px;
    --margin: 15px;
    --tab-height: 32px;
    --my-black: rgba(50, 50, 50, 70%);
    --back-color: rgb(31, 31, 83);
    --hover-color: rgb(0, 80, 100);
    --my-blue: rgb(0, 123, 255);
}

/* *****************************
 * common
 * *****************************/
* {
    box-sizing: border-box;
    font-size: 10pt;
}
*, .sans-serif {
    font-family: 'Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', 'Meiryo','ヒラギノ角ゴシック','Hiragino Sans', sans-serif;
}
.serif {
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',serif;
}
h1 {
    font-size: large;
}
body {
    background-color: var(--back-color);
    height: 100vh;
    margin: 0;
    padding: 0;
}
#wrapper {
    width: max(500px, 90%);
    height: 100vh;
    margin: 0 auto;
    padding: var(--margin) 0;
}

svg {
    vertical-align: text-bottom;
    fill: currentColor;
}

header {
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
}

header a, header a:visited {
    display:inline-block;
    color: white;
    text-decoration: none;
    border-bottom: solid 1px pink;
}

header a:hover {
    color: pink;
}

main {
    margin: 0;
    padding: 0;
}

p {
    text-indent: 1em;
    margin: 5px 0;
}

h3 {
    font-size: 12pt;
    margin: 0;
}
input {
    display: inline-block;
    margin: 0 var(--margin);
    height: 30px;
    vertical-align: middle;
}
input[type="number"] {
    width: 70px;
}

/* *****************************
 * panel
 * *****************************/
.panel {
    color: white;
    background-color: var(--my-black);
    padding: var(--padding);
    border-radius: 10px;
    margin-bottom: var(--margin);
    width: 100%;
}

.panel-cmd {
    display: inline-block;
    background-color: rgba(0,0,0,0);
    color: snow;
    border-radius: 5px;
    border: solid 1px snow;
    margin-right: var(--margin);
    padding: 2px 10px;
    float: right;
}

.panel-cmd:hover {
    color: white;
    background-color: var(--hover-color);
    border-color: var(--hover-color);
}

/* *****************************
 * param
 * *****************************/
.dist-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: calc(var(--margin)*2);
}
.dist-item {
    flex-grow: 1;
    width: 70px;
    margin-top: calc(var(--margin)/2);
    padding-bottom: calc(var(--margin)/2);
}
.param-title {
    display: block;
    margin-top: var(--margin);
    margin-bottom: 0;
}
.param-num {
    margin: var(--margin);
    margin-right: calc(var(--margin)/2);
}
.slider, .param-input {
    margin-left: calc(var(--margin)*2);
}
.slider_unit {
    vertical-align: middle;
}
.slider_value{
    display: inline-block;
    vertical-align: middle;
    margin-left: var(--padding);
    margin-right: calc(var(--padding)/2);
}

/* *****************************
 * command list
 * *****************************/
.command-button:hover {
    background-color: var(--hover-color);
    color: white;
}
.cmd-btn-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(var(--margin)/2);
    justify-content: flex-start;

}
.invisible {
    display:none;
}
/* *****************************
 * tab
 * *****************************/
.tab_container {
    padding: 0;
    margin:0;
    height: var(--tab-height);
}

.tab_item:hover {
    background-color: var(--hover-color);
}
.tab_item {
    display: inline-block;
    color: white;
    font-size: 12pt;
    height: var(--tab-height);
    background-color: var(--my-black);
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-top: 7px;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    border-top: solid 1px gray;
}

.tab_content {
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top: solid var(--margin) white;
    background-color:white;
    padding: var(--padding);
    padding-top: 0;
    height: calc(99vh - var(--margin)*5 - var(--tab-height));
    overflow: scroll;
}
/* *****************************
 * info
 * *****************************/
header h1 {
    display: inline-block;
}
#info-checkbox{
    display: none;
}

.close-btn, .apply-btn {
    border-radius: 0;
    border: none;
    color: white;
    margin: 0;
    background-color: rgba(0,0,0,0);
    position: relative;
    top: 0px;
    border:solid 0.5px white;
}

.close-btn {
    font-size: 1.5em;
    padding: 0 10px;
}

.apply-btn {
    padding: 3px, 10px;
}

.close-btn:hover, .apply-btn:hover {
    background-color: var(--my-blue);
}

#info-panel, .setting-panel {
    display: none;
    font-size: small;
    color: white;
    background-color: var(--my-black);
    border-radius: 10px;
    padding: var(--padding);;
    padding-top: calc(var(--padding)/2);
    font-weight: lighter;
    border: solid 0.5px snow;
    position: absolute;
}

.setting-panel {
    top: -20px;
    left: 10px;
}

#info-panel {
    top: 3em;
    left: 250px;
    width: max(350px, 46vw);
}

#info-panel a::after{
    margin-left: 0.5em;
    content: url("data:image/svg+xml;charset=UTF-9,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-box-arrow-up-right' fill='white' xmlns='http://www.w3.org/2000/svg'>  <path fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/>  <path fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/></svg>");
}
#info-panel a:hover {
    color: pink;
}

#info-checkbox:checked ~ #info-panel {
    display: block;
}

#info-checkbox:checked ~ .info:after {
    color: skyblue;
    font-size: small;
    content: "閉じる";
}
.info-item {
    display: inline-block;
    margin-right: 10px;
}
/* *****************************
 * images
 * *****************************/
.info {
    width: 100px;
}
.info:before {
    margin-left: calc(var(--margin)/2);
    margin-right: var(--margin);
    content: url("data:image/svg+xml;charset=UTF-8,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-info-circle-fill' fill='skyblue' xmlns='http://www.w3.org/2000/svg'>  <path fill-rule='evenodd' d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z'/></svg>");
}

.file-plus::before {
    vertical-align: middle;
    content: url("data:image/svg+xml;charset=UTF-8,<svg width='1.3em' height='1.3em' viewBox='0 0 16 16' class='bi bi-file-earmark-plus' fill='white' xmlns='http://www.w3.org/2000/svg'>  <path d='M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z'/>  <path d='M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z'/>  <path fill-rule='evenodd' d='M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5z'/></svg>");
}

.file-plus:hover {
    background-color: black;
}

.share::before {
    vertical-align: middle;
    margin-right: var(--margin);
    content: url("data:image/svg+xml;charset=UTF-8,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-share' fill='currentColor' xmlns='http://www.w3.org/2000/svg'>  <path fill-rule='evenodd' d='M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z'/></svg>");
}


