<div class="param_dist">
    <div class="param-title">TITLE [ UNIT ]</div>
    <div id="ID" class="dist-input">
        <div class="dist-item">
            <div class="dist-num">
                <label for="ID-min">最小値</label>
                <input type="number" step="0.1" value="VALUE-MIN" id="ID-min" name="ID">
            </div>
        </div>
        <div class="dist-item">
            <div class="dist-num">
                <label for="ID-max">最大値</label>
                <input type="number" step="0.1" value="VALUE-MAX" id="ID-max" name="ID">
            </div>
        </div>
        <div class="dist-item">
            <div class="dist-num">
                <label for="ID-mode">最頻値</label>
                <input type="number" step="0.1" value="VALUE-MODE" id="ID-mode" name="ID">
            </div>
        </div>
    </div>
</div>
