<header>
    <div>
        <h1>TITLE</h1>
        <input type = 'checkbox' id = 'info-checkbox'>
        <label for = 'info-checkbox' class = 'info' title = 'これは何?'></label>
        <span class = 'info-item'>
            ver.VERSION</span>
        <span class = 'info-item'>
            UPDATE</span>
        <span class = 'info-item'>
            SIGNATURE
        </span>
        <div id='info-panel'>
            DESCRIPTION
        </div>
    </div>
</header>

