<style>
.world {
    border-radius: 5px;
    border: solid 1px var(--hover-color);
    margin-bottom: var(--margin);
}
.result-view {
    width: 100%;
    height: 300px;
    background-color: var(--back-color);
}
.world-name-container {
    background-color: var(--hover-color);
    color: white;
    padding: var(--padding);
}
.world-name-container button {
    color: var(--hover-color);
    float: right;
}
.world-name-container button:hover {
    background-color: var(--my-blue);
    color: white;
}
.world-content {
    padding: var(--margin);
    padding-top: calc(var(--margin)/2);
}
.world-status {
    display: inline-block;
}
.command-button, .world-name-container button {
    background-color: white;
    color: var(--hover-color);
    border-radius: 5px;
    border: solid 1px var(--hover-color);
    margin-right: var(--margin);
    padding: 2px 10px;
}
</style>
<script>
function showElement(id) {
    let elem = document.getElementById(id);
    elem.style.display = "block";
}
</script>
<div id="world-list">
    <div class="world" id = "world-template">
        <div class="world-name-container">
            <label>Default</label>

        </div>
        <div class="world-content">
            WORLDCMD
            <div style="position: relative;">
                <div id="sim-default" class="setting-panel">
                    SETTINGS
                </div>
            </div>
            <div class="result-view">
                実行結果
            </div>
        </div>
    </div>
</div>
